<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>B170405在线交友系统</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/fav.png" type="image/x-icon">
	<link rel="icon" href="images/fav.png" type="image/x-icon">
	<!-- font-awesome -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- main stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<!-- responsive css -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- color css -->
	<link rel="stylesheet" href="css/colors.css">
	<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script>
		function resetForm()
		{
			$(':input', '#myForm')
					.not(':button, :submit, :reset, :hidden,:radio') // 去除不需要重置的input类型
					.val('')
					.removeAttr('text');
		}
		$(function () {
			$('#btnLogin').click(function () {
				//1.获取用户名、密码
				username=$('#username').val()
				password=$('#password').val()
				//2.发起post ajax请求，/login_ajax_check,携带用户名和密码
				$.ajax({
					url:"/login_check",
					data:{username:username,password:password},
					async:true,
					cache:false,
					type:"POST",
					success:function(result){
						//alert(result.code);
						if(result.code==200){
							$(location).attr('href', '/');
						}else{
							alert(result.msg);
							return false;
						}
					}
				});
			})
		})
	</script>
</head>
<body>
	<!-- 预加载红心动画
	<div class="loader_wrapper stl2" id="page-preloader">
		<div class="loader-center">		
			<div class="spinner">
				<div class="heart heart1"></div>
				<div class="heart heart2"></div>
				<div class="heart heart3"></div>
			</div>
		</div>
	</div>
	-->

	<div id="wrapper">
		<!-- header导航栏 -->
		<header class="new-block header">
			<div class="main-nav new-block">
				<div class="overlay"></div>
				<div class="container-fluid pad0">
					<div class="row no-gutters">
						<div class="col-lg-12">
							<div class="logo">
								<a href="/"><img src="images/logo2.png" alt="logo" class="img-responsive"></a>
							</div>
							<a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
							<div class="nav-block">
								<nav class="nav">
									<ul class="list-unstyled">
										<li><a href="/">首页</a></li>
										<li><a href="search_girls">在线匹配</a></li>
										<li><a href="post_categories_free">自主择友</a></li>
										<li><a href="post_categories_game">游戏娱乐</a></li>
										<li><a href="post_categories_sport">运动健身</a></li>
										<li><a href="post_categories_blog">博客</a></li>
										<li><a href="about_us.html">关于我们</a></li>
										<li><a href="contact_us.html">联系我们</a></li>

										<span th:if="${session.SPRING_SECURITY_CONTEXT != null}">
											<li class="active drop">
												<a href="#" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></a>
												<ul class="drop-down">
													<li><a href="/logout">注销</a></li>
												</ul>
											</li>
										</span>
										<!--
										<span th:if="${session.SPRING_SECURITY_CONTEXT == null}">
											<li><a href="/regist">注册</a></li>
											<li><a href="login">登录</a></li>
											-->
										</span>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- 封面页 和 登录页 -->
		<div class="banner new-block">
			<!-- 封面页 -->
			<div id="slider" class="slider1 slider-stl owl-carousel owl-theme">
			    <div class="item">
			    	<div class="slider-block new-block">
			    		<div class="fixed-bg" style="background: url('images/slide_img4.jpg');"></div>
			    		<div class="overlay"></div>
				    	<div class="container">
				    		<div class="row">
				    			<div class="col-lg-7 col-md-7">
				    				<div class="slider-txt">
				    					<div class="new-block cover-block">
				    						<h1 class="" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight"><span>100% Free</span> Online Dating</h1>
				    					</div><!-- cover-block -->
				    					<div class="new-block cover-block">
				    						<p data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Connecting singles across the world to their ideal partner</p>
				    					</div><!-- cover-block -->
				    					<div class="new-block cover-block">
				    						<div class="btn-cover">
				    							<a href="#" class="c-btn btn1" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight">View More</a>
				    						</div>
				    						<div class="btn-cover">
				    							<a href="/regist" class="c-btn btn2" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight">Register</a>
				    						</div>
				    					</div><!-- cover-block -->
				    				</div>
				    			</div>
				    			<div class="col-lg-5 col-md-5"><!-- logo-block -->
				    				
				    			</div>
				    		</div>
				    	</div>
				    </div>
			    </div>
			    <div class="item">
			    	<div class="slider-block new-block">
			    		<div class="fixed-bg" style="background: url('images/slide_img4.jpg');"></div>
			    		<div class="overlay"></div>
				    	<div class="container">
				    		<div class="row">
				    			<div class="col-lg-7 col-md-7">
				    				<div class="slider-txt">
				    					<div class="new-block cover-block">
				    						<h1 class="" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight"><span>100% Free</span> Online Dating</h1>
				    					</div><!-- cover-block -->
				    					<div class="new-block cover-block">
				    						<p data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Connecting singles across the world to their ideal partner</p>
				    					</div><!-- cover-block -->
				    					<div class="new-block cover-block">
				    						<div class="btn-cover">
				    							<a href="#" class="c-btn btn1" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight">View More</a>
				    						</div>
				    						<div class="btn-cover">
				    							<a href="/regist" class="c-btn btn2" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight">Register</a>
				    						</div>
				    					</div><!-- cover-block -->
				    				</div>
				    			</div>
				    			<div class="col-lg-5 col-md-5"><!-- logo-block -->
				    				
				    			</div>
				    		</div>
				    	</div>
				    </div>
				</div>
			    <div class="item">
			    	<div class="slider-block new-block">
			    		<div class="fixed-bg" style="background: url('images/slide_img4.jpg');"></div>
			    		<div class="overlay"></div>
				    	<div class="container">
				    		<div class="row">
				    			<div class="col-lg-7 col-md-7">
				    				<div class="slider-txt">
				    					<div class="new-block cover-block">
				    						<h1 class="" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight"><span>100% Free</span> Online Dating</h1>
				    					</div><!-- cover-block -->
				    					<div class="new-block cover-block">
				    						<p data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">Connecting singles across the world to their ideal partner</p>
				    					</div><!-- cover-block -->
				    					<div class="new-block cover-block">
				    						<div class="btn-cover">
				    							<a href="#" class="c-btn btn1" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight">View More</a>
				    						</div>
				    						<div class="btn-cover">
				    							<a href="/regist" class="c-btn btn2" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutRight">Register</a>
				    						</div>
				    					</div><!-- cover-block -->
				    				</div>
				    			</div>
				    			<div class="col-lg-5 col-md-5"><!-- logo-block -->
				    				
				    			</div>
				    		</div>
				    	</div>
				    </div>
			    </div>
			</div>

			<!-- 登录页 -->
			<div th:if="${session.SPRING_SECURITY_CONTEXT == null}" class="overlay-design">
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-lg-7 col-md-7">
		    				
		    			</div>
		    			<div class="col-lg-5 col-md-5">
		    				<div class="introducing-wrapper">
			    				<div class="introducing-block ">
			    					<div class="inner-wrapper">
										<!--
			    						<h2>注册</h2>
			    						<p>Connecting singles across the world to their ideal partner</p>
			    						<form>
			    							<label>I am a :</label>
			    							<div class="form-group">
			    								<select>
			    									<option value="" selected>Choose Your Preferences</option>
			    									<option value="">Male</option>
			    									<option value="">Female</option>
			    									<option value="">Other</option>
			    								</select>
			    							</div>
			    							<label>Between Age :</label>
			    							<div class="age-block">
			    								<div class="form-group">
				    								<select>
				    									<option value="" selected>18</option>
				    									<option value="">19</option>
				    									<option value="">20</option>
				    									<option value="">21</option>
				    									<option value="">22</option>
				    								</select>
				    							</div>
				    							<div class="form-group">
				    								<select>
				    									<option value="" selected>30</option>
				    									<option value="">31</option>
				    									<option value="">32</option>
				    									<option value="">33</option>
				    									<option value="">34</option>
				    								</select>
				    							</div>
			    							</div>
			    							<div class="form-group">
			    								<a href="#" class="c-btn bubbly-button btn1">Take a Chance</a>
			    							</div>
			    							<div class="form-group">
			    								<a href="#" class="c-btn btn-fb"><i class="flaticon-social-facebook-circular-button"></i> Sign In</a>
			    								<a href="#" class="c-btn btn-gplus"><img src="images/gpluse.png" alt=""> <span>Sign In</span></a>
			    							</div>
			    						</form>-->


										<form id="myForm" class="Login">
											<h2>登录</h2>
													<div class="form-group">
														<input  class="form-control" type="text" id="username" placeholder="用户名">
													</div>


													<div class="form-group">
														<input  class="form-control" type="password" id="password" placeholder="密码">
													</div>

												<div class="">
													<div class="form-group">
														<input   class="c-btn btn1" type="button" id="btnLogin" value="登录">
													</div>
												</div>


													<div class="form-group">
														<!--<a href="/regist" class="c-btn btn-fb"><i class="flaticon-social-facebook-circular-button"></i>注册</a>-->
														<a href="/regist" class="c-btn btn-gplus"><span>注册</span></a>
														<!--<input  class="c-btn btn-gplus" type="button" id="btnSignin" onclick="location.href='/regist'"  value="注册">-->
														<!--<a href="#" class="c-btn btn-gplus"><img src="images/gpluse.png" alt=""> <span>Sign In</span></a>-->
														<input  class="c-btn btn-fb " type="reset" @click="login" value="重置">
														<!--<button class="c-btn btn-gplus" >重置</button>-->
													</div>


										</form>


			    					</div>
			    				</div>
			    			</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>

		<!-- 首页主体内容 -->
		<div class="why-join new-block pdtb-100">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title2">
							<h2 class="fz35">: Process at Lamour :</h2>
							<div class="clearfix"></div>
							<p class="fz20">Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor<br> mattis ullamcorper urna. Cras quis elementum</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-syl1">
							<i class="flaticon-protection-shield-with-a-check-mark"></i>
							<p>Protection</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-syl1">
							<i class="flaticon-circle"></i>
							<p>Verification</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-syl1">
							<i class="flaticon-love"></i>
							<p>Attention</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-syl1">
							<i class="flaticon-multimedia"></i>
							<p>Communication</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- .services -->

		<section class="search-by-map new-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="map-txt-block">
							<div class="inner-content-wrapper">
								<div class="title1">
									<h2 class="fz35">Search By Map :</h2>
									<p class="fz20">Connecting singles across the world to their ideal partner</p>
								</div>
								<p class="fz20">Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor tristique mattis. Vestibulum pretium eleifend risus, scelerisque neque rhoncus in.</p>
								<p class="fz20">Curabitur volutpat rhoncus diam. Sed ac hendrerit Aliquam vestibulum augue in tortor ultrices blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
								<a href="#" class="c-btn btn1">See Full Map</a>
							</div>
						</div>	
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 pd0">
						<div class="map-section map-area">
							<div id="map1">
								
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="why-join new-block pdtb-100">
			<div class="overlay"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="title2">
							<h2 class="fz35">: Why Join Lamour :</h2>
							<div class="clearfix"></div>
							<p class="fz20">Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor<br> mattis ullamcorper urna. Cras quis elementum</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-stl1">
							<p class="fz20"><span class="clr1">There's tons of singles.</span> We're one of the biggest dating sites on earth, and it's all totally free.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-stl1">
							<p class="fz20"><span class="clr1">No fakes.</span> We strictly monitor who uses our site, and you can easily block people who you don't want to talk to</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-stl1">
							<p class="fz20"><span class="clr1">It's quick</span> - Most people that use this site find a match within minutes.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="block-stl1">
							<p class="fz20"><span class="clr1">It's easy </span>- Mingle2 is a piece of cake to use. Within minutes you'll be chatting with potential dates in your area.</p>
						</div>
					</div>

				</div>
			</div>
		</section><!-- why-join -->


		<!--<section class="online-member new-block pdt-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title2">
							<h2 class="fz35">Members Online Now</h2>
							<div class="clearfix"></div>
							<p class="fz20">Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor<br> mattis ullamcorper urna. Cras quis elementum</p>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="filter-nav">
						  <button class="btn btn1 filter-1" data-filter="all">All</button>
						  <button class="btn btn1 filter-1" data-filter=".category-1">New Girl Member</button>
						  <button class="btn btn1 filter-1 active" data-filter=".category-2">New Boy Member</button>
						 </div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="filter-area new-block">
				<div class="container">
					<div class="row" id="MixItUp1">
						<div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img1.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / F / Philippines	</p>
									</a>
								</div>
							</div>
						</div>
						
						<div class="mix category-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img2.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / M / Philippines	</p>
									</a>
								</div>
							</div>
						</div>

						<div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img3.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / F / Philippines	</p>
									</a>
								</div>
							</div>
						</div>

						<div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img4.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / F / Philippines	</p>
									</a>
								</div>
							</div>
						</div>

						<div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img5.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / F / Philippines	</p>
									</a>
								</div>
							</div>
						</div>

						<div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img6.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / F / Philippines	</p>
									</a>
								</div>
							</div>
						</div>

						<div class="mix category-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img7.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / M / Philippines	</p>
									</a>
								</div>
							</div>
						</div>

						<div class="mix category-1 col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="block-stl2">
								<div class="img-holder">
									<img src="images/img8.jpg" alt="" class="img-responsive">
								</div>
								<div class="txt-block">
									<a href="#">
										<h3 class="fz22">Tenma Shyna</h3>
										<p>22 / F / Philippines	</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="easy-connect new-block pdt-100">
			<div class="fixed-bg parallax" style="background: url('images/pbg1.png');"></div>
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7">
						<div class="connect-block">
							<h3>easy connect <span>to everyone</span></h3>
							<p class="fz35">Rulla a tempus turpis. Duis lacinia a est eu pulvinar. Nullam justo velit, vulputate et massa eu</p>
							<a href="#" class="c-btn-ico btn1"><i class="flaticon-playstore"></i>Get it on Google Play</a>
							<a href="#" class="c-btn-ico btn2"><i class="flaticon-apple"></i>Downlaod on the App Store</a>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 hidden-xs">
						<div class="img-holder">
							<img src="images/mob.png" alt="" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="member-feedback new-block pdtb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title2">
							<h2 class="clr1 fz35">Lamour Member Feedback</h2>
							<div class="clearfix"></div>
							<p class="fz20">Aliquam a neque tortor. Donec iaculis auctor turpis. Eporttitor<br> mattis ullamcorper urna. Cras quis elementum</p>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="testimonial owl-carousel owl-theme">
							<div class="item">
								<div class="new-block">
									<div class="block-stl3">
										<i class="flaticon-left-quote"></i>
										<p>Fusce vitae nisi sempe ultrices sapien nec, pharetra odio. Donec efficitur hendrerit</p>
										<i class="flaticon-right-quotation-sign"></i>
										<div class="arrow-down"></div>
									</div>
									<div class="sm-block">
										<div class="img-holder">
											<img src="images/tm1.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="new-block">
									<div class="block-stl3">
										<i class="flaticon-left-quote"></i>
										<p>Fusce vitae nisi sempe ultrices sapien nec, pharetra odio. Donec efficitur hendrerit</p>
										<i class="flaticon-right-quotation-sign"></i>
										<div class="arrow-down"></div>
									</div>
									<div class="sm-block">
										<div class="img-holder">
											<img src="images/tm2.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="new-block">
									<div class="block-stl3">
										<i class="flaticon-left-quote"></i>
										<p>Fusce vitae nisi sempe ultrices sapien nec, pharetra odio. Donec efficitur hendrerit</p>
										<i class="flaticon-right-quotation-sign"></i>
										<div class="arrow-down"></div>
									</div>
									<div class="sm-block">
										<div class="img-holder">
											<img src="images/tm3.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="new-block">
									<div class="block-stl3">
										<i class="flaticon-left-quote"></i>
										<p>Fusce vitae nisi sempe ultrices sapien nec, pharetra odio. Donec efficitur hendrerit</p>
										<i class="flaticon-right-quotation-sign"></i>
										<div class="arrow-down"></div>
									</div>
									<div class="sm-block">
										<div class="img-holder">
											<img src="images/tm2.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>-->

		<div class="client-area new-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="block-stl4 bg1">
							<i class="flaticon-happiness"></i>
							<p class="fz20">Happy Clients</p>
							<div class="counter-block"><span class="counter">3224</span></div>
						</div>
					</div>
					<div class="col">
						<div class="block-stl4 bg2">
							<i class="flaticon-people"></i>
							<p class="fz20">All Members</p>
							<div class="counter-block"><span class="counter">474</span></div>
						</div>
					</div>
					<div class="col">
						<div class="block-stl4 bg3">
							<i class="flaticon-users"></i>
							<p class="fz20">Online User</p>
							<div class="counter-block"><span class="counter">241</span></div>
						</div>
					</div>
					<div class="col">
						<div class="block-stl4 bg4">
							<i class="flaticon-circle"></i>
							<p class="fz20">Happy Dating</p>
							<div class="counter-block"><span class="counter">545</span></div>
						</div>
					</div>
					<div class="col">
						<div class="block-stl4 bg5">
							<i class="flaticon-trophy"></i>
							<p class="fz20">Happy people</p>
							<div class="counter-block"><span class="counter">314</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="r-footer new-block pdtb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="newsleter">
							<div class="title2">
								<h2 class="clr1 fz35">Subscribe Newsleter</h2>
								<div class="clearfix"></div>
								<p class="fz20"> Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email Address">
								<a href="#" class="subscribe-btn">Subscribe</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="footer-nav">
							<ul class="list-unstyled">
								<li><a href="home.html">Home</a></li>
								<li><a href="search_girls.html">Girls</a></li>
								<li><a href="search_girls.html">Boys</a></li>
								<li><a href="#">Online Users</a></li>
								<li><a href="online_search_country.html">Countries</a></li>
								<li><a href="search_by_map.html">All World</a></li>
								<li><a href="online_search_result.html">Filter Profile</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="../static/contact_us.html">About us</a></li>
								<li><a href="../static/contact_us.html">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copyright new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="social-nav">
							<ul>
								<li class="tw"><a href="#"><i class="flaticon-twitter"></i></a></li>
								<li class="fb"><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
								<li class="gp"><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
								<li class="rss"><a href="#"><i class="flaticon-rss-symbol"></i></a></li>
							</ul>
						</div>
						<p>2018 Design By <a href="http://www.bootstrapmb.com/"> Rewebso </a> All Rights Reserved</p>
					</div>
				</div>
			</div>
			
		</div>
		<span id="go_to_top" class="go-to-top"><i class="fa fa-long-arrow-up"></i></span>
	</div>



	<!-- Include jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugins -->
	<script src="js/plugins.js"></script>

	<!-- Googleapis
	<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script>
	-->
	<!-- Custom -->
	<script src="js/custom.js"></script>

</body>
</html>
